{% extends "layout.html" %}

{% block content %}

{% if inventory==[] %}
  <div class="card-group p-2">

    {% for item in ItemDemoList %}

    <div class="card border-{{item.dest_id}} card-rounded m-1"
    style="border-width: medium;border-radius: 12px;">

      <img class="card-img-top" src="https://raw.githubusercontent.com/attila5287/berenice_img/master/itemBodyTyp3/{{item.body_type}}" alt="Card image cap" style="height: 12rem;">
        <div class="card-body">
          <h5 class="card-title bg-{{item.dest_id}} text-dark float-right text-monospace"> 
            &middot; berenice &middot;
          </h5>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{item.make}}</li>
          <li class="list-group-item">{{item.model}}</li>
          <li class="list-group-item">{{item.year}}</li>
          <li class="list-group-item">{{item.body_type}}</li>
          <li class="list-group-item">{{item.dest_id}}</li>
        </ul>
    </div>
    {% endfor %}
  </div>
{% else %}

<div class="row">

      {% for item in inventory %}
      <div class="col-sm-5">
        
    <div class="card card-{{ destinationStyler(item.dest_id) }} border-{{ destinationStyler(item.dest_id) }} card-rounded mx-2 my-3 bg-transparent"
    style="border-width: medium;border-radius: 8px;"
    >
    <div class="card-header my-0 border-{{ destinationStyler(item.dest_id) }} " style="border-width: medium;">
          <div class="card-header text-center text-uppercase m-0 p-0 text-{{ destinationStyler(item.dest_id) }}">
                {{ shipmentStatusFinder(item.ship_status) }}
        </div>
      </div>

      <div class="card-body pt-1 pb-1">
        <div class="d-flex justify-content-around">
          <div class="d-flex justify-content-around flex-sm-column">
            <img class="img-fluid pt-0 px-5" src="https://raw.githubusercontent.com/attila5287/berenice_img/master/itemBodyTyp3/{{bodyTypeImgFinder(item.body_type)}}" alt="Card image cap" >
          </div>
            <ul class="list-group list-group list-group-flush text-monospace text-{{destinationStyler(item.dest_id)}} ">
              <li class="list-group-item">{{item.make}}</li>
              <li class="list-group-item">{{item.model}}</li>
              <li class="list-group-item">{{item.year}}</li>
              <li class="list-group-item">{{ bodyTypeTextFinder(item.body_type) }}</li>
              
            </ul>
          </div>
        </div>
      
      </div>

    </div>
    {% endfor %}
  



</div>

{% endif %}

{% endblock content %}
